.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 375px;
  background: #0b0d17;
  background-image: url(../assets/home/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto !important;
}

.mainHeaderCont {
  width: auto;
  height: 90px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 263px;
}
.mainlogo {
  height: 40px;
  width: 40px;
  margin-top: 24px;
}
.mainmenuclick {
  height: 21px;
  width: 24px;
  margin-top: 33px;
}
.mainContentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  height: 276px;
  width: 327px;
  margin: 0px auto;
}
.mainContentTextone {
  height: 19px;
  width: 230px;
  font-family: "Barlow Condensed";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 2.700000047683716px;
  text-align: center;
  color: #d0d6f9;
}
.mainContentHeaderTexts {
  height: 100px;
  width: 340px !important;
  font-family: "Bellefair";
  font-size: 80px;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}

.mainContentLongText {
  height: 125px;
  width: 327px;
  font-family: "Barlow";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  color: #d0d6f9;
}

.mainExplorButton {
  height: 150px;
  width: 150px;
  background: #ffffff;
  border-radius: 100px;
  margin: 0px auto;
  font-family: "Bellefair";
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 1.25px;
  text-align: center;
  color: #0b0d17;
  border: none;
}
.mainExplorButton:hover {
  cursor: pointer;
  background: #d7d5d5;
}
.mainExplorButton:active {
  background: #0b0d17;
  color: #ffffff;
  cursor: pointer;
  font-size: 21px;
}
