.crewCont {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  margin: 0px auto;
  background-image: url(../assets/crew/background-crew-mobile.jpg);
  background-position: cover;
}
.crewHeaderText {
  height: 19px;
  width: 215px;
  margin: 0px auto;
  font-family: "Barlow Condensed";
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2.700000047683716px;
  text-align: left;
  color: #7a7979;
  margin-top: 20px !important;
}
.crewPickyourText {
  font-family: "Barlow Condensed";
  margin-left: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-align: left;
  text-transform: uppercase;

  color: #ffffff;
}

.crew {
  height: 170px;
  width: auto;
  margin: 32px auto;
}
.planetOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
  height: 28px;
  width: 230px;
  margin: 0px auto;
}
.crewFirstLine {
  height: 1px;
  width: 100%;
  margin: -31px auto;
  background: #383b4b;
}
.crewOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
  height: 20px;
  width: 150px;
  margin: 30px auto;
}
.crewDots {
  height: 15px;
  width: 15px;
  opacity: 0.17;
  border-radius: 50px;
  background: #ffffff;
  mix-blend-mode: normal;
  margin-top: 33px;
}

.crewDots:hover {
  background: #ffffff;
  opacity: 1;
  cursor: pointer;
}
.crewDots:active {
  background: #8d908d;
  opacity: 1;
}

.crewInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px auto;
}
.crewPosition {
  height: 18px;
  width: 247px;
  margin: 20px auto;
  font-family: "Bellefair";
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.crewFullName {
  height: 28px;
  width: 327px;
  margin: 0px auto;
  font-family: "Bellefair";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}
.crewDescriptionText {
  height: 100px;
  width: 327px;
  margin: 20px auto;
  font-family: "Barlow";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  color: #d0d6f9;
}
@media only screen and (min-width: 768px) {
  .crewCont {
    background-image: url(../assets/crew/background-crew-tablet.jpg);
    background-repeat: no-repeat;
  }
  .crewHeaderText {
    height: 24px;
    width: 272px;
    margin: 0px 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 3.375px;
    text-align: left;
  }
  .crewPickyourText {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 3.375px;
    text-align: left;
  }
  .crewDots {
    margin-top: -50px;
  }
  .crew {
    height: 372px;
    width: 256.3721008300781px;
    border-bottom-right-radius: 110px;
    border-bottom-left-radius: 170px;
    margin-top: -30px;
  }
  .crewInfo {
    height: 202px;
    width: 458px;
    margin-top: -50px;
  }
  .crewFirstLine {
    display: none;
  }
  .crewPosition {
    width: 300px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .crewCont {
    background-image: url(../assets/crew/background-crew-desktop.jpg);
    height: 900px;
    width: auto !important;
    margin-top: -105px;
    margin-left: 50px;
  }

  .crewHeaderText {
    position: absolute;
    height: 24px;
    width: 272px;
    margin-top: 200px !important;
    margin-left: 166px;
    font-size: 28px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 3.375px;
    text-align: left;
  }
  .crewPickyourText {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 3.375px;
    text-align: left;
  }
  .crewOption {
    position: absolute;
    margin-top: 600px;
    margin-left: 160px;
  }
  .crewDots {
    height: 15px;
    width: 15px;
  }
  .crew {
    height: 712px;
    width: 568.071533203125px;
    left: 734.928466796875px;

    border-bottom-right-radius: 110px;
    border-bottom-left-radius: 220px;
    margin-top: 110px;
    margin-left: 800px;
  }
  .crewInfo {
    height: 202px;
    width: 458px;
    margin-top: -600px;
    margin-left: 160px;
  }
  .crewFirstLine {
    display: none;
  }
  .crewPosition {
    width: 300px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 0px;
  }
  .crewFullName {
    width: 500px;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0px;
    text-align: left;
  }
  .crewDescriptionText {
    height: 128px;
    width: 444px;

    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 30px !important;
  }
}
